<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conNW" providerName="SQLSeerver" connectionString="uid=sa;pwd=12345;server=DESKTOP-L8MAR03;database=Northwind"/>
	</connectionStrings>
    <system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
        
    </system.web>
</configuration>